body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
/* Sections */
/* ======== */
#head {
	background-color: #fff;
}
#about {
	background-color: #f2f2f2;
}
#portfolio {
	background-color: #212121;
}
#contacts {
	background-color: #EB5757;
}
.head-wrapper {
	height: 100vh;
	width: 1140px;
	margin: auto;
}
.about-wrapper {
	height: 100vh;
	width: 1140px;
	margin: auto;
	background-color: #000000;
}
.portfolio-wrapper {
	height: 700px;
	width: 1140px;
	margin: auto;
}
.contacts-wrapper {
	height: 100vh;
	width: 1140px;
	margin: auto;
}
/* Head Page*/
/* ======== */
.head-content {
	width: 650px;
	height: 55vh;
	margin: auto;
}
.head-text{
	width: 650px;
	height: 45vh;
}
.head-buttons{
	height: 10vh;
	width: 650px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head-img {
	width: 650px;
	height: 45vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.btn-head {
	width: 300px;
	height: 50px;
	background-color: #212121;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	border-radius: 50px;
	border: 3px solid;
	transition: 0.5s;
	border-color: #212121;
}
/* Button Hover Effect */
/* =================== */
.btn-head:hover {
	border: 3px solid;
	border-color: #212121;
	background-color: #fff;
	color: #212121;
}
/* Portfolio Page */
/* ============== */
.portfolio-img {
	width: 1140px;
	height: 500px;
	background-color: #fff;
}
.wrapp-pornfolio-btn {
	width: 1140px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.portfolio-btn {
	margin-top: 25px;
	width: 300px;
	height: 50px;
	background-color: #fff;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333333;
	border-radius: 50px;
	border: 3px solid #fff;
	transition: 0.5s;
}
.portfolio-btn:hover {
	background-color: #212121;
	color: #fff;
}
/* Contact Page */
/* ============ */
.contact-content {
	width: 650px;
	height: 70vh;
	margin: auto;
}
.social {
	width: 650px;
	height: 40vh;
	background-color: #fff;
}
.contact-text {
	width: 650px;
	height: 20vh;
	background-color: #212121;
}
.contact-button {
	width: 650px;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.contact-img {
	width: 300px;
	height: 30vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.contact-btn {
	margin-top: 25px;
	width: 300px;
	height: 50px;
	background-color: #fff;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #333333;
	border-radius: 50px;
	border: 3px solid #fff;
	transition: 0.5s;
}
.contact-btn:hover {
	background-color: #EB5757;
	color: #fff;
}
/* .contact-image {
	margin: auto;
	width: 300px;
	height: 255px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}  */